header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
}
.section-1 {
    background-color: #fa0000;
    margin: 0;
    color: #000000;
}

.section-2 {
    background-color: #ff8400;
    margin: 0;
    color: #000000;
}

.section-3 {
    background-color: #ffee00;
    margin: 0;
    color: #000000;
}

.section-4 {
    background-color: #00780e;
    margin: 0;
    color: #000000;
}

.section-5 {
    background-color: #0011ff;
    margin: 0;
    color: #000000;
}

.section-6 {
    background-color: #c800ff;
    margin: 0;
    color: #000000;
}

.section-7 {
    background-color: #262020;
    color: #ffffff;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #262020;
    font-size: 20px;
}
header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
main {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
}
h2 {
    text-align: center; 
}
p   {
    text-align: center;
}
li {
    text-align: center;
}
ul {
    text-align: center;
}  
.section-15 {
    background-color: #272626;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 4px 15px rgb(63, 63, 63);
    border-radius: 20px;
}
.section-16 {
    background-color: #272626;
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 4px 15px rgb(63, 63, 63);
    border-radius: 20px;
}
.section-17 {
    background-color: #272626;
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 4px 15px rgb(63, 63, 63);
    border-radius: 20px;
}
.btn-retour {
    display: inline-block; /* Permet d'appliquer des marges et du padding */
    padding: 8px 16px;
    color: #22A1BF;
    text-decoration: none; /* Enlève la ligne sous le lien */
    font-weight: bold;
    border: 1.5px solid #22A1BF;
    border-radius: 25px; 
}
.btn-retour:hover {
            background-color: #22A1BF;
            color: #121212;
            text-decoration: none;
            transform: translateX(-5px); /* Le bouton se décale */
            box-shadow: 0 4px 10px rgba(34, 161, 191, 0.4); /* Ajoute un petit halo lumineux */
}
.btn-jsp1, .btn-jsp2, .btn-jsp3 {
    display: inline-block; /* Permet d'appliquer des marges et du padding */
    padding: 8px 16px;
    color: #22A1BF;
    text-decoration: none; /* Enlève la ligne sous le lien */
    font-weight: bold;
    border: 1.5px solid #22A1BF;
    border-radius: 25px; 
}
.btn-jsp1:hover, .btn-jsp2:hover, .btn-jsp3:hover {
            background-color: #22A1BF;
            color: #121212;
            text-decoration: none;
            transform: translateX(-5px); /* Le bouton se décale */
            box-shadow: 0 4px 10px rgba(34, 161, 191, 0.4); /* Ajoute un petit halo lumineux */