

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: navy;
}

.image_1{
    margin: 50px;
    border-radius: 30px;
    padding: 10%;

}
.section_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(224, 221, 255, 0.331);
    border-radius: 30px;
    box-shadow: #f02a2a;
    margin-left: 60px;
    margin-right: 60px;

}

.section_1 p {
    color: #ffffff;
}
.section_1 h2{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: auto;
}

.section_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(224, 221, 255, 0.331);
    border-radius: 30px;
    box-shadow: #2e2e2e 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.section_2 p {
    color: #ffffff;
}
.section_2 h2{
    color: #ffffff;
}

main{
    text-align: center;
}

button{
    border-radius: 60px;
    text-align: center;
    display: inline-block;
    padding: 10px 24px;
    font-family: 'roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgba(157, 156, 162, 0.417);
    border:1px solid #0000 ;
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s;
     transition: transform 0.2s ease; /* zoom */

}
button:hover{
    background-color: rgb(153, 147, 147);
    color: black;
    border-color: black;
    transform: scale(1.02);
}
section h2{
    text-align: center;
    margin-right: 50px;
    color: rgb(10, 10, 10);
}

.image_2{
    border-radius: 30px;
    padding-left: 10px;
    text-align: center;
    
    margin: 30px auto 30px auto;
}

footer {
    text-align: left;
    color: rgb(0, 0, 0);
    background-color:navy;
}

header p{
    color: aliceblue;
}

.button-64 {
  align-items: center;
  background-image: rgba(146, 136, 255, 0.331);;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 120%;
  min-width: 160px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 14px;
    min-width: 196px;
  }
}
.section_3 p{
    margin-left: 4px;
}
.div_img{
    margin-right: 10px;
}
.semaine {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.p-jour{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background:rgba(161, 224, 255, 0.445);
}
.scroll{
    background-color: rgb(109, 201, 248);
    border-radius: 30px;
}
.div_lundi1{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background: rgba(161, 224, 255, 0.445);
}
.div_mardi1{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background: rgba(161, 224, 255, 0.445);
}
.div_mercredi1{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background: rgba(161, 224, 255, 0.445);
}
.div_jeudi1{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background: rgba(161, 224, 255, 0.445);
}
.div_vendredi1{
    flex: 1 1 200px;
    padding: 15px;
    border-radius: 30px;
    margin: 0;
    background: rgba(161, 224, 255, 0.445);
}
.titre-mer {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: white;
}
.scroll h3{
    text-align: center;
}
.scroll h2{
    color: #ffffff;
}
.scroll{
    background-color:  rgba(224, 221, 255, 0.331);;
}
.image_1epi{
    margin-top: 75px;
    margin-left: 90px;
    align-items: center;
    border-radius: 10px;
}
.image_2epi{
    margin-top: 75px;
    margin-left: 90px;
    align-items: center;
    border-radius: 10px;
}
.image_3epi{
    margin-top: 75px;
    margin-left: 90px;
    align-items: center;
    border-radius: 10px;
}
.image_4epi{
    margin-top: 40px;
    margin-left: 90px;
    align-items: center;
    border-radius: 10px;
}
.image_5epi{
    margin-top: 40px;
    margin-left: 90px;
    align-items: center;
    border-radius: 10px;
}
.photos {
    display: flex;
    gap: 0.1px; /* espace entre les photos */
}

.photos img {
    width: 200px;
    height: auto;
    border-radius: 25px;
    margin-left: 60px;
    margin-top: 75px;
}